# Node
node_modules/
dist/
.vite/

# Rust
target/
pkg/

# SvelteKit
.svelte-kit/
/build

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp

# Env
.env*
!.env.example
!.env.test.example

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Storybook
storybook-static/
.vercel
.env*.local
